<a style="float:right" href="/logout"><button class="small_button">Log Out</button></a> </h3>

<h5>Warda's Travel Diary</h5>

 
<div class="text-center">
<h2> Welcome, <%= current_user.first_name %> <%= current_user.last_name%>!</h2>
</div>

<a href="/travels/new"><button>Add a New Trip</button></a><br>
<br>

<h2>All Destinations:</h2>
      <% @travels.each do |travel| %>
        <strong>Trip Name:</strong><a href="/travels/<%=travel.id%>"><%= travel.trip_name %></a><br>
        <strong>Itinerary:</strong> <%= travel.itinerary %><br>
        <strong>Date Visited: </strong><%= travel.start_date %><br>
        <strong>Date Returned: </strong><%= travel.end_date %><br>
        <strong>Notes: </strong><%= travel.notes %><br>
        added by: <a href="/users/<%=travel.user.id%>"><%=travel.user.username%></a><br>
        <br>
        <br>
      <% end %>
      
      

      
  