<a style="float:right" href="/logout" class="btn btn-light btn-sm" >Log out</a>

<h1>Here are the Details of this Trip: </h1>
<strong>Destination:</strong><%=@travel.trip_name%><br>
<strong>Itinerary:</strong> <%=@travel.itinerary%><br>
<strong>Date Visited:</strong> <%=@travel.start_date%><br>
<strong>Return Date:</strong> <%=@travel.end_date%><br>
<strong>Notes:</strong> <%=@travel.notes%><br>
<br>
<label>Created by: <%=@travel.user.username %></label><br> 
<br>

<div>
    <a href="/travels/new" class="btn btn-primary">Add Another Trip</a><br>
    <a href="/travels/<%=@travel.id%>/edit" class="btn btn-primary">Edit</a><br>
<div>

<form method="POST" action="/travels/<%= @travel.id %>/delete">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="DELETE ">
</form>

<br>
<h3><a href="/travels" >Home</a ></h3><br>
<br>